body
{
    background-color: lightgray;

}

form
{
    border: 1px solid black;
    margin: 10%;
    padding: 1%;

}

div
{
    display: block;
    text-align: center;
    margin: 2%;
}

button
{
    background-color: green;
    color: white;
}